# links follow
Options +FollowSymlinks
# # rewrite Apache activate
RewriteEngine On

# # /accueil
RewriteRule ^accueil$ /index.php [L]

# # /inscription
RewriteRule ^inscription$ /controllers/register-controller.php [L]

# # /Connexion
RewriteRule ^connexion$ /controllers/login-controller.php [L]

# # /profil
RewriteRule ^profil$ /controllers/profil-controller.php [L]

# # /admin rdv
  RewriteRule ^admin$ /controllers/admin/admin-controller.php [L]

# # /detail rdv
  RewriteRule ^admin-list-user$ /controllers/admin/admin-list-user-controller.php [L]

# # /modif PWD
  RewriteRule ^changer-mot-de-passe$ /controllers/change-pwd-controller.php [L]

# # /how it works
  RewriteRule ^comment-ca-marche$ /controllers/howItWorks-controller.php [L]

# # /faq
  RewriteRule ^foire-aux-questions$ /controllers/FAQ-controller.php [L]

  # # /choix du jeu
  RewriteRule ^choix-du-jeu$ /controllers/coaching/coaching-game-controller.php [L]

  # # /choix du jeu
  RewriteRule ^reserver-un-coaching$ /controllers/coaching/get-coaching-controller.php [L]
# # /profil?id=N
# RewriteCond %{QUERY_STRING} (?:^|&)id=(\d+)
# RewriteRule ^profil$ /controllers/profil-patient-controller.php [L]

# # /erreur?code=N
# RewriteCond %{QUERY_STRING} (?:^|&)code=(\d+)
# RewriteRule ^erreur$ /controllers/error-controller.php [L]