#pickGame {
    margin-top: 20vh;
    width: 100vw;
}

.pickGameHeader {
    display: flex;
    align-items: center;
    color: white;
    font-size: 48px;
    justify-content: space-evenly;
}

.separatorGameSelection {
    height: 1px;
    width: 25%;
    background-color: #0bff03;
}

.chooseYourCoach{
    text-align: center;
}
.gameSelector {
    display: flex;
    width: 90%;
    margin: 10px auto;
    
}

.gameChoice {
    background-color: white;
    border-radius: 15px;
    height: 80px;
    width: 20%;
    margin: 15px 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: 0.4s;
    margin: 0.5em;
}


.gameChoice:hover {
    cursor: pointer;
    width: 100%;
    /* box-shadow: 0px 0px 35px 2px rgba(11, 255, 3, 0.34);
-webkit-box-shadow: 0px 0px 35px 2px rgba(11, 255, 3, 0.34); */
    
}

.gameChoice:after {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.633);
    content: '';
}

.gameChoice:hover:after {
    background-color: transparent;
}

.selectedGame:after{
    background-color: transparent;
}

.selectedGame{
    width: 100%;
    /* box-shadow: 0px 0px 35px 2px rgba(11, 255, 3, 0.34);
-webkit-box-shadow: 0px 0px 35px 2px rgba(11, 255, 3, 0.34); */
}



#gameImg {
    width: 100vw;
    height: 420px;
    margin-top: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;

}

#gameImg::after {
    position: absolute;
    width: 100vw;
    height: 420px;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.7626400902157738) 0%, rgba(0,0,0,0) 100%);
    content: '';
}

.pickCoachHeader {
    display: flex;
    align-items: center;
    color: white;
    font-size: 48px;
    justify-content: space-evenly;
}

#pickCoach {
    margin-top: 5vh;
    width: 100vw;
}


.coachSelection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2vh 0;
}

.coachBox {
    width: 450px;
    margin: 20px 0;
    height: 300px;
    border-radius: 10px;
    display: flex;
}

.leftSideCoachBox{
    height: 100%;
    width: 40%;
}

.coachImg{
    height: 60%;
    width: 100%;
    border-radius: 10px 0 0 0 ;
}

.coachImg img{
    width: 100%;
}

.coachBtn{
    width: 100%;
    height: 40%;
    border-radius:  0 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coachBtn a button:hover {
    cursor: pointer;
}

.coachBtn button{
    padding: 10px 20px;
    background: linear-gradient(120deg, #28a737 0%, #0aff02 100%);
    border-radius: 10px;
    border: solid 0px ;
    color: white;
    font-size: 24px;
}
.rightSideCoachBox{
    width: 60%;
}

.coachName{
    font-size: 42px;
    color: rgba(10, 255, 2, 1);
    font-weight: bold;
    width: 90%;
    margin: auto;
}
.coachDesc{
    color: white;
    font-size: 18px;
    width: 90%;
    margin:10% auto;
}









@media screen  and (max-width:700px){
    
    .gameSelector{
        flex-direction: column;
        align-items: center;
        height: 400px;
    }
    .gameChoice {
        width: 100%;
        height: 20%;
    }

    .selectedGame{
        height: 100%;
        width: 100%;
    }

    #gameImg{
        margin-top: 5vh;
    }
}