#profil {
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.separator {
    width: 95%;
    margin: auto;
    height: 1px;
    color: white;

}

.profilHeader>.categoryTitle {
    border: solid 0px;
}

.categoryTitle {
    font-weight: 800;
    width: 95%;
    margin: auto;
    border-bottom: 1px solid grey;
    font-size: 48px;
    color: rgba(40, 167, 55, 1);
}

.positionProfil {
    width: 90%;
    margin-left: 5vw;
    margin-top: 3vh;
    background-color: #2A3C44;
    border-radius: 15px;

}

.profilHeader {
    margin-top: 20vh;
    min-height: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.profilHeader span{
    font-size: 24px;
}

.coachingContainer {
    height: 35vh;
}

.profilContainer {
    min-height: 35vh;
}

.personnalInformationContainer {
    width: 95%;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
}

.leftSideInfo img {
    width: 180px;
}

.leftSideInfo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: white;
}
.errorMsg{
    color: red;
}
.leftSideInfo .updateProfil {
    background: linear-gradient(120deg, #28a737 0%, #0aff02 100%);
    padding: 0.2em 0.5em;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    margin: 10px 10px;
}

.leftSideInfo .deleteProfil {
    background: linear-gradient(120deg, #ff3333 0%, #ff0202 100%);
    padding: 0.2em 0.5em;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    margin: 10px 10px;
}

.btnProfilContainer{
    display: flex;
    flex-wrap: wrap;
}
.rightSideInfo {
    width: 50%;
}

.formInfo {
    display: flex;
    flex-direction: column;
    color: white;
}

.formInfo label {
    margin-top: 1em;
    font-size: 24px;
}

.formField {
    margin-top: 10px;
    height: 25px;
    width: 60%;
    background-color: transparent;
    color: white;
    border: 0;
    border-bottom: solid 1px grey;
}

.formField::placeholder {
    color: white;
    font-size: 18px;

}

input[type="text"]
{
    font-size:18px;
}

.fieldActive {
    background-color: #47484E;
}

.submitBtn {
    margin-top: 1.5em;
    display: none;
}