.adminListUserContainer{
    width: 95vw;
    margin-top: 15vh;
    margin-left: 2.5vw ;

    display: flex;
  flex-direction: column;
}

.returnLink{
    font-size: 32px;
}

.userListTitle{
    color: white;
}
.adminChoice{
    width: 95vw;
    margin-top: 15vh;
    margin-left: 2.5vw ;
    background-color: rgba(0, 255, 255, 0.067);
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminChoice button{
    padding: 10vh 10vh;
    margin: 2vh 2vh;
    cursor: pointer;

}

.optionField{
    color: white;
    margin: 10px 0;
}

/*************************** Table ***************************/
table{
    color: white;
    border-collapse: collapse;
    text-align: left;
}

thead {
    background-color: rgb(102, 98, 98) ;
}

td, th{
    border-left: solid 1px #ECF0F1;
    border-right: solid 1px #ECF0F1;
    height: 35px;
    padding-left: 10px;
}

tr:nth-of-type(even) {
	background-color: #43464656;
}

