@font-face {
    font-family: "Rajdhani";
    src: url(../font/Rajdhani-Medium.ttf);
}

body {
    margin: 0;
    font-family: "Rajdhani";
}

a {
    color: white;
    text-decoration: none;
}

/************************************************************************/
/*----------------------------Section NavBar----------------------------*/
/************************************************************************/

.navBar {
    display: flex;
    position: fixed;
    z-index: 10;
    flex-direction: row;
    font-family: "Rajdhani";
    font-weight: 600;
    font-size: 1.3em;
    height: 100px;
    width: 100vw;
    border-bottom: solid 1px grey;
}

.fixed {
    background-color: black;
    height: 70px;
    transition: 0.3s ease !important;
}

.logoNavBar {
    width: 100px;
}

.logoNavBarFixed {
    margin-top: 0.5em;
    width: 80px;
    transition: 0.3s ease !important;
}

.navBarLeftSide {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: solid 1px grey;
    width: 25vw;
}

.navBarLeftSide h5 {
    margin-right: 0.5em;
    margin-left: 0.5em;
    color: white;
    font-weight: 800;
    font-size: 1.8em;
    line-height: 0.9;
}

.navBarRightSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex: 1;
}




.navBar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding-left: 1em;
    height: 100%;

}

.navBar ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navBarLinks li a {
    padding: 0 0.4em;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navBarLinks li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}



.navBarRightSide .loggingInputs {
    margin-right: 0.5em;
}

.navBarRightSide .loggingInputs li {
    margin-right: 0.5em;
}

/*---------- Boutons de connexion/Inscription----------- */

.loggingInputs {
    display: flex;
    flex-direction: row;
}

.connectBtn {
    background: linear-gradient(120deg, rgba(40, 167, 55, 1) 0%, rgba(10, 255, 2, 1) 100%);
    padding: 0.2em 0.5em;
    border-radius: 15px;

}

/* --------------------Partie Responsive ------------------ */
.burgerMenu {
    width: 30px;
    margin-left: 1em;
    display: none;
    filter: invert(92%) sepia(0%) saturate(51%) hue-rotate(149deg) brightness(94%) contrast(101%);
}

.active {
    display: block !important;
}

.sideNavBarActive {
    display: block !important;
    left: 0px !important;
    transition: 0.3s;

}

.sideNavBarContainer {
    background-color: rgba(0, 0, 0, 0.445);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    display: none;
    transition: 0.3s;
}


.sideNavBar {
    height: 100%;
    width: 25vw;
    border-right: solid 1px grey;
    display: flex;
    flex-direction: column;
    background-color: black;
    position: fixed;
    z-index: 3;
    left: -500px;
    transition: 0.3s;
}

.sideNavBar ul {
    font-size: 1.2em;
    margin-top: 7em;
    padding-left: 0.5em;
}

.sideNavBar ul li {
    padding: 0.5em 0;
}

@media screen and (max-width: 1000px) {
    .burgerMenu {
        display: block;
    }

    .navBarRightSide .navBarLinks {
        display: none;
    }

    .navBarLeftSide h5 {
        display: none;
        margin-right: 0;
    }

    .navBarLeftSide {
        justify-content: center;
    }

}







/************************************************************************/
/*-------------------------Section landingPage--------------------------*/
/************************************************************************/

.landingPage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    background-image: url(../img/hunt-showdown-wallPaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;

}

.LandingPageContainer {
    width: 100%;
    margin-right: 10em;
    margin-left: 10em;


}

.LandingPageContainer h2 {
    color: white;
    font-size: 7em;
    margin-top: 0;
    margin-bottom: 0.2em;

}

.LandingPageContainer p {
    color: white;
    font-size: 2em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1em;

}

.landingPageBottomContainer {
    min-width: 600px;
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}

.landingPage .firstContent {
    height: 100%;
    margin: 0 0.5em;
    font-size: 2em;

}

.landingPage .greenRectangle {
    font-family: 'rajdhani';
    font-size: 0.7em;
    font-weight: 800;
    color: white;
    border: 3px solid;
    padding: 12px 24px;
    background: none;
    border-image: linear-gradient(to bottom right, #28a737, #0aff02) 7;
    transition: all 0.2s;
}

.landingPage .greenRectangle:hover {
    cursor: pointer;
    background: linear-gradient(to bottom right, #28a737, #50ff49);
}

.landingPage .secondContent {
    margin: 0 0.5em;
    height: 100%;
    font-size: 2em;
    padding-top: 6px;

}

.landingPage .rightPartContainer {
    flex: 1;
    padding-top: 6px;
}

.arrowAngle {
    margin-top: 1em;
    width: 50%;
    height: 50px;
    border-right: solid 3px white;
    border-top: solid 3px white;
}

.landingPage .bottomRightText {
    font-size: 1.5em;

    position: relative;
}

.landingPage .bottomRightText::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 110%;
    clip-path: polygon(50% 100%, 5% 0, 100% 0);
    background: linear-gradient(120deg, rgba(40, 167, 55, 1) 0%, rgba(10, 255, 2, 1) 100%);
    height: 50px;
    width: 50px;
}

.landingPage .bottomRightContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

/************************************************************************/
/*------------------Section Pourquoi choisir un coach-------------------*/
/************************************************************************/


.whyCoachSection {
    background-color: #1D2029;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* 
.whyCoachSection::after {
    content: '';
    height: 60px;
    width: 100px;
    background-color: #1D2029;
    position:  absolute;
    clip-path: polygon(50% 100%, 5% 0, 100% 0);
    bottom: -59px;
} */

.whyCoachContainer {
    width: 80%;
    margin: 5em;
    background-color: #2A3C44;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.whyCoachContainer h5 {
    font-size: 5vw;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.iconsWhyCoach {
    font-size: 5vw;
    background: linear-gradient(120deg, rgba(40, 167, 55, 1) 0%, rgba(10, 255, 2, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whyCoachElements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 2em;
    align-content: space-around;
}

.whyCoach {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 0.5em 1em;
    align-items: center;
}

.whyCoach div {
    margin: 0.5em 0;
}

.whyCoach img {
    margin: 0.5em 0;
}

.whyCoachTitles {
    font-size: 2.5vw;
}

.whyCoachText {
    font-size: 20px;
}

.whyCoach img {
    width: 40px;
    height: 40px;
}

/*  ------------- Responsive whycoachSection ------------------*/


@media screen and (max-width: 760px) {

    .whyCoachElements {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        margin: 0.5em 1em;
        align-items: center;
    }

    .whyCoachTitles {
        font-size: 35px;
    }

    .whyCoachText {
        font-size: 15px;
    }
}

/************************************************************************/
/*----------------------Section collection de jeu-----------------------*/
/************************************************************************/



.gameCollectionSection {
    background-color: #2A3C44;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------- PArtie du text de gauche--------------- */
.gameCollectionRow {
    display: flex;
    margin: 5em 0;
}

.playLearnImproveContainer span {
    overflow: hidden;

}

.playLearnImproveContainer {

    color: white;
    font-size: 8vw;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playLearnImproveContainer h6 {
    margin-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
    transform: translateY(100%);
}

.play {}

.learn {
    animation-delay: 200ms;
}

.improve {
    animation-delay: 400ms;
}

@keyframes appearingText {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}




/*------------- PArtie des jeux affichés -------------*/
.gameCollectionContainer {
    width: 60vw;
    display: flex;
    flex-direction: row;
}

.gameDisplay {
    width: 20%;
    transition: 0.3s;
    height: 500px;
    border-radius: 20px;
    margin: 0 0.5em;
    background-position: center;
    background-size: auto 100%;
    cursor: pointer;
}

.game1 {
    background-image: url(../img/wow-wallPaper.jpg);
}

.game2 {
    background-image: url(../img/hunt-showdown-wallPaper2.jpg);
}

.game3 {
    background-image: url(../img/rocketLeague-wallPaper.jpg);
}

.game4 {
    background-image: url(../img/lol-wallPaper.jfif);
}

.game5 {
    background-image: url(../img/csgo-wallPaper.jpg);
}

.gameDisplay:hover {
    width: 100%;
}

.improve {
    color: rgba(10, 255, 2, 1);
}


/************************************************************************/
/*--------------------Section Commentaire/Trustpilot--------------------*/
/************************************************************************/


.commentSection {
    background-color: #1D2029;
}

.commentContainer {
    display: flex;
    justify-content: space-evenly;
}

.commentSection h5 {
    margin: 0;
    padding: 1em 0;
    text-align: center;
    font-size: 5vw;
    color: white;
}

.commentCard {
    display: flex;
    flex-direction: column;
    background-color: #2A3C44;
    border-radius: 15px;
    margin: 1em 1em;
    color: white;

}

.commentContainer {
    display: flex;
    flex-direction: row;
}

.headerComment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0.5em;
}
.topRightCornerComment {
    display: flex;
    justify-content: center;
}


.userNameComment {
    font-size: 2em;
}

.userComment {
    margin: 1em 1em;
}

.coachConcerned {
    margin-top: 1em;
    margin-left: 1em;
}

.star {
    background: rgb(255, 255, 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}