#profil {
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.separator{
    width: 95%;
    margin: auto;
    height: 1px;
    color: white;
    
}
.profilHeader>.categoryTitle{
    border: solid 0px;
}
.categoryTitle {
    font-weight: 800;
    width: 95%;
    margin: auto;
    border-bottom: 1px solid grey;
    font-size: 48px;
    color: rgba(40, 167, 55, 1);
}

.positionProfil {
    width: 90%;
    margin-left: 5vw;
    margin-top: 3vh;
    background-color: #2A3C44;
    border-radius: 15px;

}

.profilHeader {
    margin-top: 20vh;
    height: 10vh;

    display: flex;
    align-items: center;
    color: white;

}

.coachingContainer {
    height: 35vh;
}

.profilContainer{
    height: 35vh;
}

.personnalInformationContainer{
    width: 95%;
    margin: 15px auto;
    background-color: blue;
    display: flex;
    flex-direction: row;
}

.leftSideInfo img{
    width: 150px;
}
.leftSideInfo{
    width: 40%;
display: flex;
align-items: center;
justify-content: center;
}

.rightSideInfo{
    width: 60%;
}
.formInfo{
    display: flex;
    flex-direction: column;
    color: white;
}