body {
background-color: #1D2029;
background-image: url(../img/Background2.png);
background-repeat: no-repeat;
}

.root{
    --borderColor : transparent;
    --mailBorderColor : transparent;
    --usernameBorderColor : transparent;
}

.registerSection h1 {
    font-size: 5vw;
    color: white;
    margin-top: 8rem;
}

.registerSection h5 {
    font-size: 4vw;
    color: white;
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 0 2.3em;
}

.greenWord {
    color: rgba(10, 255, 2, 1)
}


.formRegister .field{
    border-radius: 10px;
    border: 0;
    margin: 1em 0;
    width: 50vw;
    height: 35px;
    background-color: #47484E;
    color: white;
}

.formRegister .field::placeholder{
color: #e8303d;
}

.formRegister label{
    margin-top: 2em;
}
.formRegister .field:hover {
    background-color: #4e4e52;
}

.formRegister label{
    color: white;
}

.fieldErrorMsg {
    color: #e8303d;
    font-size: 15px;
    margin-bottom: 20rem;
}

.border{
    border: solid 2px var(--borderColor) !important;
}

.mailBorder {
    border: solid 2px var(--mailBorderColor) !important;
}

.usernameBorder {
    border: solid 2px var(--usernameBorderColor) !important;
}

#validForm{
    margin: 1em 0;
    background: rgba(10, 255, 2, 1);
    border-radius: 5px;
    font-size: 28px;
    border: 2px solid transparent;
    cursor: pointer;
}

input:focus-visible {

    outline: none;
}

.pwdField{
    position: relative;

}

.pwdImg{
    position: absolute;
    width: 20px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

}


