.adminListUserContainer{
    width: 95vw;
    margin-top: 15vh;
    margin-left: 2.5vw ;

    display: flex;
    flex-direction: column;
}

.returnLink{
    font-size: 32px;
}

.userListTitle{
    color: white;
}
.adminChoice{
    width: 95vw;
    margin-top: 15vh;
    margin-left: 2.5vw ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminChoice button{
    padding: 10vh 10vh;
    margin: 2vh 2vh;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    font-size: 24px;
    background-color: rgba(0, 255, 255, 0.067);
    border: solid 0px;
}

.optionField{
    color: white;
    margin: 10px 0;
}

.pageSelector a{
    font-size: 24px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.actualPage{
    background-color: #4CAF50;
    border-radius: 5px;
}

.pageSelector a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
/*************************** Table ***************************/
table{
    color: white;
    border-collapse: collapse;
    text-align: left;
}

thead {
    background-color: rgb(102, 98, 98) ;
}

td, th{
    border-left: solid 1px #ECF0F1;
    border-right: solid 1px #ECF0F1;
    height: 35px;
    padding-left: 10px;
}

tr:nth-of-type(even) {
	background-color: #43464656;
}

tr:last-child {
    border-bottom: solid 1px #ECF0F1 ;
}

/* Profil des utilisteurs */


.dateTimeInfo{
margin: 1em 0px;
font-size: 18px;
}

